### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Reading the data

In [2]:
df = pd.read_csv('EOD-HD.csv')
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2017-12-28,190.91,190.98,189.64,189.78,3175631.0,0.00,1.0,177.544280,177.609379,176.363193,176.493392,3175631.0
1,2017-12-27,190.60,191.49,190.01,190.19,5912613.0,0.00,1.0,177.255983,178.083673,176.707289,176.874687,5912613.0
2,2017-12-26,188.53,190.42,188.34,190.36,2969182.0,0.00,1.0,175.330905,177.088585,175.154207,177.032785,2969182.0
3,2017-12-22,188.20,188.46,187.27,188.13,3256519.0,0.00,1.0,175.024008,175.265805,174.159118,174.958909,3256519.0
4,2017-12-21,187.70,188.84,187.44,188.08,5859058.0,0.00,1.0,174.559014,175.619201,174.317216,174.912409,5859058.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,72.98,73.79,72.90,73.58,5781800.0,0.00,1.0,62.005719,62.693916,61.937749,62.515495,5781800.0
1086,2013-09-06,73.55,73.56,72.21,72.70,9968400.0,0.00,1.0,62.490006,62.498502,61.351507,61.767824,9968400.0
1087,2013-09-05,74.07,74.21,72.84,72.99,11039000.0,0.00,1.0,62.931812,63.050759,61.886772,62.014215,11039000.0
1088,2013-09-04,73.98,74.51,73.74,74.14,8271600.0,0.00,1.0,62.855345,63.305647,62.651435,62.991286,8271600.0
1089,2013-09-03,74.83,75.25,73.68,73.90,7802800.0,0.39,1.0,63.577528,63.934371,62.600458,62.787375,7802800.0

### Data Collection and Analysis

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1090 non-null   object
 1   Open        1090 non-null   float64
 2   High        1090 non-null   float64
 3   Low         1090 non-null   float64
 4   Close       1090 non-null   float64
 5   Volume      1090 non-null   float64
 6   Dividend    1090 non-null   float64
 7   Split       1090 non-null   float64
 8   Adj_Open    1090 non-null   float64
 9   Adj_High    1090 non-null   float64
 10  Adj_Low     1090 non-null   float64
 11  Adj_Close   1090 non-null   float64
 12  Adj_Volume  1090 non-null   float64
dtypes: float64(12), object(1)
memory usage: 110.8+ KB

In [4]:
df.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.0,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03
mean,118.182119,119.028030,117.356270,118.225661,5.415875e+06,0.010404,1.0,105.494714,106.248348,104.759320,105.533892,5.415875e+06
std,28.182296,28.315725,28.065522,28.209296,2.274563e+06,0.083182,0.0,27.742404,27.876593,27.624102,27.767769,2.274563e+06
min,72.980000,73.560000,72.210000,72.700000,1.517075e+06,0.000000,1.0,62.005719,62.498502,61.351507,61.767824,1.517075e+06
25%,92.310000,93.000000,91.362575,92.127500,3.895442e+06,0.000000,1.0,80.112181,80.745389,79.323727,79.919768,3.895442e+06
50%,120.910000,121.885000,119.690000,120.690000,4.927485e+06,0.000000,1.0,107.569835,108.348245,106.369750,107.646320,4.927485e+06
75%,135.725000,136.495000,134.810000,135.737500,6.349263e+06,0.000000,1.0,122.609630,123.375100,121.972170,122.731563,6.349263e+06
max,190.910000,191.490000,190.010000,190.360000,2.075320e+07,0.890000,1.0,177.544280,178.083673,176.707289,177.032785,2.075320e+07

In [5]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Dividend      0
Split         0
Adj_Open      0
Adj_High      0
Adj_Low       0
Adj_Close     0
Adj_Volume    0
dtype: int64

In [8]:
High_Low_Percentage: df['HL_PCT']= (df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100.0

In [9]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT
0,2017-12-28,190.91,190.98,189.64,189.78,3175631.0,0.00,1.0,177.544280,177.609379,176.363193,176.493392,3175631.0,0.706081
1,2017-12-27,190.60,191.49,190.01,190.19,5912613.0,0.00,1.0,177.255983,178.083673,176.707289,176.874687,5912613.0,0.778169
2,2017-12-26,188.53,190.42,188.34,190.36,2969182.0,0.00,1.0,175.330905,177.088585,175.154207,177.032785,2969182.0,1.092667
3,2017-12-22,188.20,188.46,187.27,188.13,3256519.0,0.00,1.0,175.024008,175.265805,174.159118,174.958909,3256519.0,0.632541
4,2017-12-21,187.70,188.84,187.44,188.08,5859058.0,0.00,1.0,174.559014,175.619201,174.317216,174.912409,5859058.0,0.744364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,72.98,73.79,72.90,73.58,5781800.0,0.00,1.0,62.005719,62.693916,61.937749,62.515495,5781800.0,1.209568
1086,2013-09-06,73.55,73.56,72.21,72.70,9968400.0,0.00,1.0,62.490006,62.498502,61.351507,61.767824,9968400.0,1.856946
1087,2013-09-05,74.07,74.21,72.84,72.99,11039000.0,0.00,1.0,62.931812,63.050759,61.886772,62.014215,11039000.0,1.876969
1088,2013-09-04,73.98,74.51,73.74,74.14,8271600.0,0.00,1.0,62.855345,63.305647,62.651435,62.991286,8271600.0,1.038576
1089,2013-09-03,74.83,75.25,73.68,73.90,7802800.0,0.39,1.0,63.577528,63.934371,62.600458,62.787375,7802800.0,2.124493

In [13]:
Percentage_Change: df['PCT_Change']= (df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100.0

In [14]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_Change
0,2017-12-28,190.91,190.98,189.64,189.78,3175631.0,0.00,1.0,177.544280,177.609379,176.363193,176.493392,3175631.0,0.706081,-0.591902
1,2017-12-27,190.60,191.49,190.01,190.19,5912613.0,0.00,1.0,177.255983,178.083673,176.707289,176.874687,5912613.0,0.778169,-0.215110
2,2017-12-26,188.53,190.42,188.34,190.36,2969182.0,0.00,1.0,175.330905,177.088585,175.154207,177.032785,2969182.0,1.092667,0.970668
3,2017-12-22,188.20,188.46,187.27,188.13,3256519.0,0.00,1.0,175.024008,175.265805,174.159118,174.958909,3256519.0,0.632541,-0.037194
4,2017-12-21,187.70,188.84,187.44,188.08,5859058.0,0.00,1.0,174.559014,175.619201,174.317216,174.912409,5859058.0,0.744364,0.202451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,72.98,73.79,72.90,73.58,5781800.0,0.00,1.0,62.005719,62.693916,61.937749,62.515495,5781800.0,1.209568,0.822143
1086,2013-09-06,73.55,73.56,72.21,72.70,9968400.0,0.00,1.0,62.490006,62.498502,61.351507,61.767824,9968400.0,1.856946,-1.155676
1087,2013-09-05,74.07,74.21,72.84,72.99,11039000.0,0.00,1.0,62.931812,63.050759,61.886772,62.014215,11039000.0,1.876969,-1.458080
1088,2013-09-04,73.98,74.51,73.74,74.14,8271600.0,0.00,1.0,62.855345,63.305647,62.651435,62.991286,8271600.0,1.038576,0.216275
1089,2013-09-03,74.83,75.25,73.68,73.90,7802800.0,0.39,1.0,63.577528,63.934371,62.600458,62.787375,7802800.0,2.124493,-1.242817

In [20]:
df.drop(['Open','High','Low','Close','Volume','Dividend','Split','Adj_Open','Adj_High','Adj_Low'],axis=1, inplace=True)

In [21]:
df

            Date   Adj_Close  Adj_Volume    HL_PCT  PCT_Change
0     2017-12-28  176.493392   3175631.0  0.706081   -0.591902
1     2017-12-27  176.874687   5912613.0  0.778169   -0.215110
2     2017-12-26  177.032785   2969182.0  1.092667    0.970668
3     2017-12-22  174.958909   3256519.0  0.632541   -0.037194
4     2017-12-21  174.912409   5859058.0  0.744364    0.202451
...          ...         ...         ...       ...         ...
1085  2013-09-09   62.515495   5781800.0  1.209568    0.822143
1086  2013-09-06   61.767824   9968400.0  1.856946   -1.155676
1087  2013-09-05   62.014215  11039000.0  1.876969   -1.458080
1088  2013-09-04   62.991286   8271600.0  1.038576    0.216275
1089  2013-09-03   62.787375   7802800.0  2.124493   -1.242817

[1090 rows x 5 columns]

In [22]:
df.isnull().sum()

Date          0
Adj_Close     0
Adj_Volume    0
HL_PCT        0
PCT_Change    0
dtype: int64

In [23]:
df

            Date   Adj_Close  Adj_Volume    HL_PCT  PCT_Change
0     2017-12-28  176.493392   3175631.0  0.706081   -0.591902
1     2017-12-27  176.874687   5912613.0  0.778169   -0.215110
2     2017-12-26  177.032785   2969182.0  1.092667    0.970668
3     2017-12-22  174.958909   3256519.0  0.632541   -0.037194
4     2017-12-21  174.912409   5859058.0  0.744364    0.202451
...          ...         ...         ...       ...         ...
1085  2013-09-09   62.515495   5781800.0  1.209568    0.822143
1086  2013-09-06   61.767824   9968400.0  1.856946   -1.155676
1087  2013-09-05   62.014215  11039000.0  1.876969   -1.458080
1088  2013-09-04   62.991286   8271600.0  1.038576    0.216275
1089  2013-09-03   62.787375   7802800.0  2.124493   -1.242817

[1090 rows x 5 columns]

In [24]:
df

            Date   Adj_Close  Adj_Volume    HL_PCT  PCT_Change
0     2017-12-28  176.493392   3175631.0  0.706081   -0.591902
1     2017-12-27  176.874687   5912613.0  0.778169   -0.215110
2     2017-12-26  177.032785   2969182.0  1.092667    0.970668
3     2017-12-22  174.958909   3256519.0  0.632541   -0.037194
4     2017-12-21  174.912409   5859058.0  0.744364    0.202451
...          ...         ...         ...       ...         ...
1085  2013-09-09   62.515495   5781800.0  1.209568    0.822143
1086  2013-09-06   61.767824   9968400.0  1.856946   -1.155676
1087  2013-09-05   62.014215  11039000.0  1.876969   -1.458080
1088  2013-09-04   62.991286   8271600.0  1.038576    0.216275
1089  2013-09-03   62.787375   7802800.0  2.124493   -1.242817

[1090 rows x 5 columns]